<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>new pirate</title>
  </head>
  <body>
    <form action="/pirate" method="post">
    Student Name: <input type="text" name="student[name]">
    Student Grade: <input type="text" name="student[grade]">
    Course Name: <input type="text" name="student[course][name]">
    Course Topic: <input type="text" name="student[course][topic]">
    <input type="submit">
  </form>
  </body>
</html>
